<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Chatroom!" %></h2>
  <p class="lead">The world's simplest chat application.</p>
</div>

<div id='message-list' class='row'>
</div>

<div class='row form-group'>
  <div class='col-md-3'>
    <input type='text' id='name' class='form-control' placeholder='Name' />
  </div>
  <div class='col-md-9'>
    <input type='text' id='message' class='form-control' placeholder='Message' />
  </div>
</div>